[Unit]
Description=CutMeOff
After=network.target remote-fs.target

[Service]
User=cutmeoff
Group=cutmeoff
PrivateTmp=true
#PrivateUsers=true
#ProtectHome=true
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
WorkingDirectory=/home/cutmeoff/
ExecStart=/usr/local/jdk/bin/java -Xms64M -Xmx128M -Djava.net.preferIPv4Stack=true -jar /home/cutmeoff/cutmeoff.jar

Restart=on-success
RestartSec=2s

[Install]
WantedBy=multi-user.target
