body {
background-color: #F0F8FF;
background-image: url(/favicon.svg);
background-repeat: no-repeat;
background-size: 100vh;
background-blend-mode: soft-light;
background-position: 0 10%;
}

form {
width:300px;
margin:100px auto;
}

label {
display:block;
text-align:center
}

input {
display:block;
margin:20px auto;
background:#B22222;
color:white;
padding:20px;
border:1px solid grey;
border-radius:25px;
font-weight:bold;
font-size:1.2rem;
cursor:pointer;
}

input:hover {
background:red;
}