form {
width:300px;
margin:100px auto;
}

label {
display:block;
text-align:center
}

input {
display:block;
margin:20px auto;
background:#B22222;
color:white;
padding:20px;
border:1px solid grey;
border-radius:25px;
font-weight:bold;
font-size:1.2rem;
cursor:pointer;
}

input:hover {
background:red;
}